<div class="text-center">
<p id="notice"><%= notice %></p>

<h2>Books Search Result</h2>

<%if @bookResults.blank? then%>
  <br><br><br>
    <h4>Sorry! No Books Found</h4>
 <%else%>
 
<table width="60%" class="new_table">
  <thead>
    <tr>
      <th>BookID</th>
      <th>Title</th>
      <th>Author</th>      
      <th>Status</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @bookResults.each do |book| %>
      <tr>
        <td><%= book.bookId %></td>
        <td><%= book.title %></td>
        <td><%= book.author %></td>        
        <td>
          <%if book.issued then%>
           Not Available
          <%else%>
          Available
          <%end%>
          
        </td> 
        
      </tr>
    <% end %>
  </tbody>
</table>
<%end%>
<br>
<%= link_to 'Back to Home', '/student/'+current_user.profile_id.to_s %>
</div>