<%if current_user.id == @user.id then%>

<div class="text-center">
<h2>Student Page</h2>
<%= link_to 'Edit Profile', '/books' %><br>
<%= link_to 'Delete Profile', '/books' %><br>
<br>

<%= link_to 'Search Books', '/books' %><br>
<%= link_to 'View Issued Books', '/books' %><br>
</div>

<%else%>
<div class="text-center">
<div class="alert alert-danger" role="alert">
  <p>You are not permitted to view this page!<p>
</div>

<%= link_to 'Back to Home', '/faculty/'+current_user.profile_id.to_s %>
</div>
<%end%>

