<% unless current_user %>
<div class="text-center">
  <br><br><br>
<h2>Login</h2> 
<br> 
    <%= form_tag('/login') do %>   
    <div>   
    <%= label_tag :username %><br>   
    <%= text_field_tag :username %>   
    </div>   
      <div>   
        <%= label_tag :password %><br>   
    <%= password_field_tag :password %>   
    </div>   
      <div>
	<br>  
        <%= submit_tag "Log In", class: "btn btn-success" %>   
    </div>   
    <% end %>  
</div>
<% else %>
<div class="text-center alert alert-warning" role="alert">
  User already logged in
</div>
<% end %>
