<%if  current_user and current_user.admin?  then%>
<div class="text-center">
<h2>Admin Page</h2>
	<hr>
<div >
	<%= form_tag(controller: "admin", action: "searchResult", method: "get") do %>
	<h3 > <%= label_tag(:q, "Search Book") %></h3>
	<br>
	<div >
  	  	<%= text_field_tag :searchKey, "",  placeholder: 'Enter Title/Author' %>
  		
	<% end %>
		<br><br>
  		<%= submit_tag("Search" , :id=>"button", :class=>"btn btn-success", :name=>"submit") %>
  	</div>
  
</div>
<br>

<%else%>
<div class="text-center">
<div class="alert alert-danger" role="alert">
  <p>You are not permitted to view this page!<p>
</div>
<%end%>
<br>
<%= link_to 'Back to Home', user_home %>
</div>



