<%if  current_user and current_user.admin?  then%>
<div class="text-center">
<p id="notice"><%= notice %></p>

<h3>Books Search Result</h3>

<%if @bookResults.blank? then%>
  <br><br><br>
    <h4>Sorry! No Books Found</h4>
 <%else%>
       


<table width="60%" class="new_table table">
<thead class="thead-light">
  <tr>
    <th>BookID</th>
    <th>Title</th>
    <th>Author</th>      
    <th>Status</th>
    <th colspan="3"></th>
  </tr>
</thead>

<tbody>
  <% @bookResults.each do |book| %>
    <tr>
      <td><%= book.bookId %></td>
      <td><%= book.title %></td>
      <td><%= book.author %></td>        
       <td>
        <%if book.issued then%>
         Not Available
        <%else%>
        Available
        <%end%>
        
      </td>
      <td><%= link_to 'View', book %></td>
      <td><%= link_to 'Edit', edit_book_path(book) %></td>
      <td><%= link_to 'Delete', book, method: :delete, data: { confirm: 'Are you sure?' } %></td>
    </tr>
  <% end %>
</tbody>
</table>
<%end%>

<%else%>
<div class="text-center">
<div class="alert alert-danger" role="alert">
  <p>You are not permitted to view this page!<p>
</div>
<%end%>
<br>
<%= link_to 'Back to Home', user_home %>
</div>
