<%if current_user.id == @user.id then%>
<div class="text-center">
<h2>Admin Page</h2>
<!--
<p>Username: <%= @user.username %><p>
<p>Profile Type: <%= @user.profile_type %><p>
-->

<%= link_to 'Edit Profile', '/books' %><br>
<%= link_to 'Delete Profile', '/books' %><br>
<br>

<%= link_to 'Add Book Details', '/books' %><br>
<%= link_to 'Remove Book Details', '/books' %><br>
<%= link_to 'Update Book Details', '/books' %><br>
<%= link_to 'Return Book', '/books' %><br>
</div>

<%else%>
<div class="text-center">
<div class="alert alert-danger" role="alert">
  <p>You are not permitted to view this page!<p>
</div>

<%= link_to 'Back to Home', '/admin/'+current_user.profile_id.to_s %>
</div>
<%end%>

