<%if current_user.id == @user.id then%>
<div class="text-center">
<h2>Admin Page</h2>
<hr>
<!--
<p>Username: <%= @user.username %><p>
<p>Profile Type: <%= @user.profile_type %><p>
-->

<br>

<%= link_to 'Add/Edit/Delete Book Details',:controller => "books",:action=>:index,:uid=>current_user.profile_id.to_s %><br>
<br>
<%= link_to 'Search Book',:action=>:search,:id=>current_user.profile_id.to_s %><br>
<br>
<%= link_to 'Issue Book',:action=>:issue,:id=>current_user.profile_id.to_s %><br>
<br>
<%= link_to 'View Issue Details ',:action=>:indexBookIssue,:id=>current_user.profile_id.to_s %><br>
<br>
<%= link_to 'Return Book', :action=>:return ,:id=>current_user.profile_id.to_s %><br>
<br>
</div>

<%else%>
<div class="text-center">
<div class="alert alert-danger" role="alert">
  <p>You are not permitted to view this page!<p>
</div>

<%= link_to 'Back to Home', user_home %>
</div>
<%end%>

