
<%= form_with(url: "/user_signup", model: user, local: true) do |form| %>
  <% if user.errors.any? %>
    <div class="alert alert-danger" role="alert" id="error_explanation">
      <h3><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h3>

      <ul>
        <% user.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :username %><br>
    <%= form.text_field :username %><br>
  </div>



  <div class="field">
    <%= form.label :password %><br>
    <%= form.password_field :password %><br>
  </div>

  <div class="field">
    <%= form.label :password_confirmation %><br>
    <%= form.password_field :password_confirmation %>
  </div>


 <div class="field">
<p>Profile: </p>
<%= radio_button_tag(:role, "admin") %>
<%= label_tag(:role, "Admin") %>
<%= radio_button_tag(:role, "student") %>
<%= label_tag(:role, "Student") %>
<%= radio_button_tag(:role, "faculty") %>
<%= label_tag(:role, "Faculty") %>
</div>

<div id="admin_form" class="field inactive">
    <%= form.label :"Admin Key" %><br>
    <%= form.password_field :key %><br>
  </div>

<div id="faculty_form" class="field inactive">
    <%= form.label :"Faculty Name" %><br>
    <%= form.text_field :fname %><br>
    <%= form.label :"Designation" %><br>
    <%= form.text_field :fdes %><br>
  </div>

<div id="student_form" class="field inactive">
    <%= form.label :"Student Name" %><br>
    <%= form.text_field :sname %><br>
  </div>
<br>
  <div class="actions">
    <%= form.submit  class: 'btn btn-primary' %>
  </div>
<% end %>

<script>
$('load', function() {

$("#role_admin").click(function(){
  $("#admin_form").removeClass("inactive");
  $("#faculty_form").addClass("inactive");
  $("#student_form").addClass("inactive");
});
$("#role_student").click(function(){
  $("#admin_form").addClass("inactive");
  $("#faculty_form").addClass("inactive");
  $("#student_form").removeClass("inactive");
});
$("#role_faculty").click(function(){
  $("#admin_form").addClass("inactive");
  $("#faculty_form").removeClass("inactive");
  $("#student_form").addClass("inactive");
}); 

});
 
</script>


