<p id="notice"><%= notice %></p>
<% if current_user and current_user.admin? %>
<h2 class="text-center" >Users</h2>

<table class="table">
  <thead class="thead-light">
    <tr>
      <th>Username</th>
      <th>Role</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.username %></td>
        <td><%= user.role %></td>
        <td><%= link_to 'Show', user %>
	<%= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' } %>
         </td>
        
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<!-- <%= link_to 'New User', new_user_path %> -->
<% else %>
<div class="alert alert-danger" role="alert">
  You are not permitted to see this page
</div>
<% end %>
